.row
  .col-12
    %p
      %b 名前:
      = @inquiry.name
  .col-12
    %p
      %b 内容:
      = @inquiry.content

.row
  .col-1
    = link_to '編集', edit_inquiry_path(@inquiry), class: 'btn btn-secondary btn-block'
  .col-1
    = link_to '一覧', inquiries_path, class: 'btn btn-secondary btn-block'
